.header {
  margin: 0 auto;
  border-bottom: 1px solid #545454;
  max-width: 880px;
  width: 100%;
  padding: 40px;
}
.header__logo {
  max-width: 173px;
  width: 100%;
  
}
.header-content {
  display: flex;
  justify-content: space-between;
}


.navbar {
  display: flex;
  gap: 56px;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  font-family: Inter;
}

.navbar a {
  text-decoration: none;
  color: white;
}

.navbar a:hover {
  cursor: pointer;
  opacity: 0.7;
}

 
@media screen and (max-width: 640px) {
  .header {
    max-width: 640px;
    width: 100%;
  
    padding: 28px;
    }
    .header__logo {
      width: 126px;
    }
  }
   
@media screen and (max-width: 320px) {
  .header{
    max-width: 320px;
    width: 100%;
    
    padding: 28px;
    }
    .header__logo {
      width: 126px;
    }
  
}